[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = {extras = ["argon2"], version = "*"}
python-decouple = "*"
django-password-validators = "*"
django-zxcvbn-password = "*"
django-restricted-sessions = "*"

[requires]
python_version = "3.9"
